## Every day at 9 AM - Post New Yorker Caption Contest
0 9 * * * cd /web/slack-new-yorker-cartoon-caption-contest && NODE_ENV=prod /home/bertrand/.deno/bin/deno run --allow-env --allow-read=./,.env,config,data --allow-write=data --allow-net=slack.com post_prompt.ts >> log/post.log 2>&1

